.App {
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
}

.brand-container {
  display: inline-flex;
  align-items: center;
  padding: 10px 0;
  white-space: nowrap;
}

.brand-text-svg {
  margin-left: 10px;  /* Adjust spacing as needed */
  /* Optionally, you can set a width or height if you want to scale the SVG */
  height: 67px;       /* Example: match the logo's height */
  width: auto;
}